@import "./fonts.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Campton Black";
    scroll-behavior: smooth;
}

.header {
    width: 100%;
    height: 10.463vh;
    /* height: 5.885416666666667VW; */
    background-image: url("./header.png");
    background-size: 100% 100%;
    position: fixed;
    top: 0;
}


.showroom-container {
    width: 100%;
   height: 94.114583334vh;
    overflow: hidden;
    position: fixed;
    top: 10.463vh;
}

.showroom-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.ppt1-video {
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: fill;
}

.ppt1-scroll-arrows {
    width: 2.7083333333333335VW;
    height: 3.177083333333333VW;
    background-image: url("./images/scroll.png");
    background-size: 100% 100%;
    z-index: 2;
    position: absolute;
    left: 48.5%;
    bottom: 4vw;
    animation: scrollArrows 1s infinite;
}

@keyframes scrollArrows {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0.33;
        transform: scale(1.1);
    }
}











/*    ---------------------------        SNAKES      ---------------------------------------  */
/*    ---------------------------        SNAKES      ---------------------------------------  */
/*    ---------------------------        SNAKES      ---------------------------------------  */

.square-blue-1{
    width: 8.645833333333334VW;
    height: 25.3125VW;
    background-color: #002240;
    position: absolute;
    left: 10.9375VW;
    top: -5.885416666666667VW;
    z-index: 2;
}

.square-red-1{
    width: 24VW;
    height: 8.59375VW;
    background-color: #ff1b2a;
    position: absolute;
    right: -8vw;
    bottom: 5VW;
    z-index: 2;
}











/*  ---------------------------        TITLES      ---------------------------------------  */
/*  ---------------------------        TITLES      ---------------------------------------  */
/*  ---------------------------        TITLES      ---------------------------------------  */
.ppt1-title {
    color: #ffffff;
    font-size: 5.208333333333334VW;
    font-weight: 700;
    letter-spacing: -20;
    position: absolute;
    left: 9.791666666666666VW;
    bottom: 9.15625VW;
}

